.App {
  text-align: center;
}

.App-header {
  background-color: #17191d;
  height: 70px;
  display: flex;
  font-family: 'Abril Fatface', cursive;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(247, 225, 28);
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 0px;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 15px 10px 15px;
  width: 25%;
  border: 1px solid black;
  margin: 10px 30px 20px 30px;
}

.movie h2 {
  margin: 5%;
  font-size: large;
  text-align: center;
}

.movie img {
  display: flex;
  height: 300px;
  margin: auto;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;

}

input[type="submit"] {
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  width: 90px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: rgb(247, 225, 28);
}

.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
  border: 1.5px ridge rgb(224, 221, 15)
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}